N8N Flows/gohighlevel-conversation-tools-n8n.json
{
  "name": "GoHighLevel - Conversation Tools API Endpoints",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [20, 600],
      "parameters": {},
      "typeVersion": 1,
      "notes": "Start workflow to test Conversation Tools API endpoints"
    },
    {
      "id": "config",
      "name": "GoHighLevel Config",
      "type": "n8n-nodes-base.set",
      "position": [300, 600],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "baseUrl",
              "name": "baseUrl",
              "type": "string",
              "value": "https://services.leadconnectorhq.com"
            },
            {
              "id": "authToken",
              "name": "authToken",
              "type": "string",
              "value": "{{$vars.GHL_ACCESS_TOKEN}}"
            },
            {
              "id": "locationId",
              "name": "locationId",
              "type": "string",
              "value": "{{$vars.GHL_LOCATION_ID}}"
            }
          ]
        }
      },
      "typeVersion": 3.4,
      "notes": "Configure your GoHighLevel API settings"
    },
    {
      "id": "send-sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "type": "SMS",
          "contactId": "CONTACT_ID_HERE",
          "message": "Hi there! This is a test SMS message from our automated system. We'll be in touch soon!",
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Send SMS message to contact"
    },
    {
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/email",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "type": "Email",
          "contactId": "CONTACT_ID_HERE",
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "subject": "Welcome to Our Service!",
          "message": "Thank you for joining us. We're excited to help you achieve your goals.",
          "html": "<h1>Welcome to Our Service!</h1><p>Thank you for joining us. We're <strong>excited</strong> to help you achieve your goals.</p><p>Best regards,<br>The Team</p>"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Send email message to contact"
    },
    {
      "id": "search-conversations",
      "name": "Search Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/search",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "status",
              "value": "unread"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Search conversations with filters"
    },
    {
      "id": "get-conversation",
      "name": "Get Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/CONVERSATION_ID_HERE",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get conversation details and messages"
    },
    {
      "id": "create-conversation",
      "name": "Create Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "contactId": "CONTACT_ID_HERE"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create new conversation with contact"
    },
    {
      "id": "update-conversation",
      "name": "Update Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/CONVERSATION_ID_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "starred": true,
          "unreadCount": 0
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update conversation properties (star, mark read)"
    },
    {
      "id": "delete-conversation",
      "name": "Delete Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/CONVERSATION_ID_HERE",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Delete conversation permanently"
    },
    {
      "id": "get-email-message",
      "name": "Get Email Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/email/EMAIL_MESSAGE_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get detailed email message information"
    },
    {
      "id": "get-message",
      "name": "Get Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 400],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/MESSAGE_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get detailed message information"
    },
    {
      "id": "upload-attachments",
      "name": "Upload Message Attachments",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 400],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/upload",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "conversationId": "CONVERSATION_ID_HERE",
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "attachmentUrls": [
            "https://example.com/files/document.pdf",
            "https://example.com/files/image.jpg"
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Upload file attachments for messages"
    },
    {
      "id": "update-message-status",
      "name": "Update Message Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 400],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/MESSAGE_ID_HERE/status",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "status": "delivered"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update message delivery status"
    },
    {
      "id": "add-inbound-message",
      "name": "Add Inbound Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 400],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/inbound",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "type": "SMS",
          "conversationId": "CONVERSATION_ID_HERE",
          "conversationProviderId": "PROVIDER_ID_HERE",
          "message": "This is a manually added inbound SMS message for record keeping.",
          "date": "2025-07-01T12:00:00.000Z"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Manually add inbound message to conversation"
    },
    {
      "id": "add-outbound-call",
      "name": "Add Outbound Call",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 500],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/outbound-call",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "conversationId": "CONVERSATION_ID_HERE",
          "conversationProviderId": "PROVIDER_ID_HERE",
          "to": "+1234567890",
          "from": "+1987654321",
          "status": "completed",
          "date": "2025-07-01T14:30:00.000Z"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Add outbound call record to conversation"
    },
    {
      "id": "get-message-recording",
      "name": "Get Message Recording",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 500],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/MESSAGE_ID_HERE/recording",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get call recording audio for message"
    },
    {
      "id": "get-message-transcription",
      "name": "Get Message Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 500],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/MESSAGE_ID_HERE/transcription",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get call transcription text for message"
    },
    {
      "id": "cancel-scheduled-message",
      "name": "Cancel Scheduled Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 500],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/MESSAGE_ID_HERE/schedule",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Cancel scheduled message before sending"
    },
    {
      "id": "cancel-scheduled-email",
      "name": "Cancel Scheduled Email",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 600],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/email/EMAIL_MESSAGE_ID_HERE/schedule",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Cancel scheduled email before sending"
    },
    {
      "id": "live-chat-typing",
      "name": "Live Chat Typing",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 600],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages/live-chat/typing",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "visitorId": "VISITOR_ID_HERE",
          "conversationId": "CONVERSATION_ID_HERE",
          "isTyping": true
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Send typing indicator for live chat"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GoHighLevel Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoHighLevel Config": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Conversations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Email Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Message Attachments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Message Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Inbound Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Outbound Call",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Message Recording",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Message Transcription",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cancel Scheduled Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cancel Scheduled Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Live Chat Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {},
  "tags": ["gohighlevel", "conversations", "messaging", "sms", "email", "api"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "version": "3"
  },
  "createdAt": "2025-07-01T00:00:00.000Z",
  "updatedAt": "2025-07-01T00:00:00.000Z",
  "versionId": "1"
}