N8N Flows/gohighlevel-store-n8n.json
{
  "name": "GoHighLevel - Store API Endpoints",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [20, 300],
      "parameters": {},
      "typeVersion": 1,
      "notes": "Start workflow to test Store API endpoints"
    },
    {
      "id": "config",
      "name": "GoHighLevel Config",
      "type": "n8n-nodes-base.set",
      "position": [300, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "baseUrl",
              "name": "baseUrl",
              "type": "string",
              "value": "https://services.leadconnectorhq.com"
            },
            {
              "id": "authToken",
              "name": "authToken",
              "type": "string",
              "value": "{{$vars.GHL_ACCESS_TOKEN}}"
            },
            {
              "id": "locationId",
              "name": "locationId",
              "type": "string",
              "value": "{{$vars.GHL_LOCATION_ID}}"
            }
          ]
        }
      },
      "typeVersion": 3.4,
      "notes": "Configure your GoHighLevel API settings"
    },
    {
      "id": "shipping-zones-create",
      "name": "Create Shipping Zone",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-zones",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "altId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "altType": "location",
          "name": "North America",
          "countries": [
            {
              "country": "US",
              "states": ["CA", "NY", "TX", "FL"]
            },
            {
              "country": "CA",
              "states": ["ON", "BC", "QC"]
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create shipping zone with countries and states"
    },
    {
      "id": "shipping-zones-list",
      "name": "List Shipping Zones",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-zones",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "altId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "altType",
              "value": "location"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "List all shipping zones"
    },
    {
      "id": "shipping-zones-get",
      "name": "Get Shipping Zone",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-zones/ZONE_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get specific shipping zone by ID"
    },
    {
      "id": "shipping-zones-update",
      "name": "Update Shipping Zone",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-zones/ZONE_ID_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "name": "Updated North America Zone",
          "countries": [
            {
              "country": "US",
              "states": ["CA", "NY", "TX", "FL", "WA"]
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update shipping zone configuration"
    },
    {
      "id": "shipping-zones-delete",
      "name": "Delete Shipping Zone",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-zones/ZONE_ID_HERE",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Delete shipping zone by ID"
    },
    {
      "id": "shipping-rates-create",
      "name": "Create Shipping Rate",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-rates",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "altId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "altType": "location",
          "name": "Standard Shipping",
          "shippingZoneId": "ZONE_ID_HERE",
          "rate": 9.99,
          "minOrderValue": 0,
          "maxOrderValue": 1000,
          "estimatedDays": {
            "min": 3,
            "max": 7
          }
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create shipping rate for zone"
    },
    {
      "id": "shipping-rates-list",
      "name": "List Shipping Rates",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-rates",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "altId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "altType",
              "value": "location"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "List all shipping rates"
    },
    {
      "id": "shipping-rates-get",
      "name": "Get Shipping Rate",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-rates/RATE_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get specific shipping rate by ID"
    },
    {
      "id": "shipping-rates-available",
      "name": "Get Available Shipping Rates",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-rates/available",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "altId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "altType",
              "value": "location"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get available shipping rates for checkout"
    },
    {
      "id": "shipping-carriers-create",
      "name": "Create Shipping Carrier",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-carriers",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "altId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "altType": "location",
          "name": "UPS",
          "trackingUrl": "https://www.ups.com/track?tracknum={{tracking_number}}",
          "isActive": true
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create shipping carrier configuration"
    },
    {
      "id": "shipping-carriers-list",
      "name": "List Shipping Carriers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/shipping-carriers",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "altId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "altType",
              "value": "location"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "List all shipping carriers"
    },
    {
      "id": "store-settings-create",
      "name": "Create Store Setting",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/settings",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "altId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "altType": "location",
          "key": "store_currency",
          "value": "USD",
          "description": "Default store currency setting"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create store configuration setting"
    },
    {
      "id": "store-settings-get",
      "name": "Get Store Setting",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 400],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/stores/settings/SETTING_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get specific store setting by ID"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GoHighLevel Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoHighLevel Config": {
      "main": [
        [
          {
            "node": "Create Shipping Zone",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Shipping Zones",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Shipping Zone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Shipping Zone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Shipping Zone",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Shipping Rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Shipping Rates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Shipping Rate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Available Shipping Rates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Shipping Carrier",
            "type": "main",
            "index": 0
          },
          {
            "node": "List Shipping Carriers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Store Setting",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Store Setting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {},
  "tags": ["gohighlevel", "store", "shipping", "api", "ecommerce"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "version": "3"
  },
  "createdAt": "2025-07-01T00:00:00.000Z",
  "updatedAt": "2025-07-01T00:00:00.000Z",
  "versionId": "1"
}