N8N Flows/gohighlevel-custom-fields-n8n.json
{
  "name": "GoHighLevel - Custom Fields V2 API Endpoints",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [20, 300],
      "parameters": {},
      "typeVersion": 1,
      "notes": "Start workflow to test Custom Fields V2 API endpoints"
    },
    {
      "id": "config",
      "name": "GoHighLevel Config",
      "type": "n8n-nodes-base.set",
      "position": [300, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "baseUrl",
              "name": "baseUrl",
              "type": "string",
              "value": "https://services.leadconnectorhq.com"
            },
            {
              "id": "authToken",
              "name": "authToken",
              "type": "string",
              "value": "{{$vars.GHL_ACCESS_TOKEN}}"
            },
            {
              "id": "locationId",
              "name": "locationId",
              "type": "string",
              "value": "{{$vars.GHL_LOCATION_ID}}"
            }
          ]
        }
      },
      "typeVersion": 3.4,
      "notes": "Configure your GoHighLevel API settings"
    },
    {
      "id": "fields-create",
      "name": "Create Custom Field",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/custom-fields/",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "name": "Customer Rating",
          "description": "Rating field for customer feedback",
          "dataType": "MULTIPLE_OPTIONS",
          "placeholder": "Select a rating",
          "showInForms": true,
          "objectKey": "contact",
          "options": [
            {
              "key": "excellent",
              "label": "Excellent"
            },
            {
              "key": "good",
              "label": "Good"
            },
            {
              "key": "average",
              "label": "Average"
            },
            {
              "key": "poor",
              "label": "Poor"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create new custom field"
    },
    {
      "id": "fields-get-by-object",
      "name": "Get Custom Fields by Object",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/custom-fields/",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "objectKey",
              "value": "contact"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get custom fields for specific object type"
    },
    {
      "id": "fields-get-by-id",
      "name": "Get Custom Field by ID",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/custom-fields/FIELD_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get specific custom field by ID"
    },
    {
      "id": "fields-update",
      "name": "Update Custom Field",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/custom-fields/FIELD_ID_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "name": "Updated Customer Rating",
          "description": "Updated rating field for customer feedback",
          "placeholder": "Please select your rating",
          "showInForms": true
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update existing custom field"
    },
    {
      "id": "fields-delete",
      "name": "Delete Custom Field",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/custom-fields/FIELD_ID_HERE",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Delete custom field by ID"
    },
    {
      "id": "folders-create",
      "name": "Create Custom Field Folder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/custom-fields/folders",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "name": "Customer Information",
          "description": "Folder for customer-related custom fields",
          "objectKey": "contact"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create custom field folder for organization"
    },
    {
      "id": "folders-update",
      "name": "Update Custom Field Folder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/custom-fields/folders/FOLDER_ID_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "name": "Updated Customer Information",
          "description": "Updated folder for customer-related custom fields"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update custom field folder"
    },
    {
      "id": "folders-delete",
      "name": "Delete Custom Field Folder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/custom-fields/folders/FOLDER_ID_HERE",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Delete custom field folder"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GoHighLevel Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoHighLevel Config": {
      "main": [
        [
          {
            "node": "Create Custom Field",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Custom Fields by Object",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Custom Field by ID",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Custom Field",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Custom Field",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Custom Field Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Custom Field Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Custom Field Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {},
  "tags": ["gohighlevel", "custom-fields", "api", "schema"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "version": "3"
  },
  "createdAt": "2025-07-01T00:00:00.000Z",
  "updatedAt": "2025-07-01T00:00:00.000Z",
  "versionId": "1"
}