N8N Flows/gohighlevel-email-isv-tools-n8n.json
{
  "name": "GoHighLevel - Email ISV (Verification) Tools API Endpoints",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [20, 300],
      "parameters": {},
      "typeVersion": 1,
      "notes": "Start workflow to test Email ISV Tools API endpoints"
    },
    {
      "id": "config",
      "name": "GoHighLevel Config",
      "type": "n8n-nodes-base.set",
      "position": [300, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "baseUrl",
              "name": "baseUrl",
              "type": "string",
              "value": "https://services.leadconnectorhq.com"
            },
            {
              "id": "authToken",
              "name": "authToken",
              "type": "string",
              "value": "{{$vars.GHL_ACCESS_TOKEN}}"
            },
            {
              "id": "locationId",
              "name": "locationId",
              "type": "string",
              "value": "{{$vars.GHL_LOCATION_ID}}"
            }
          ]
        }
      },
      "typeVersion": 3.4,
      "notes": "Configure your GoHighLevel API settings"
    },
    {
      "id": "verify-email-address",
      "name": "Verify Email Address",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/emails/verify",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "type": "email",
          "verify": "user@example.com"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Verify email address deliverability and risk assessment"
    },
    {
      "id": "verify-contact-email",
      "name": "Verify Contact Email",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/emails/verify",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "type": "contact",
          "verify": "CONTACT_ID_HERE"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Verify email address of an existing contact by contact ID"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GoHighLevel Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoHighLevel Config": {
      "main": [
        [
          {
            "node": "Verify Email Address",
            "type": "main",
            "index": 0
          },
          {
            "node": "Verify Contact Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {},
  "tags": ["gohighlevel", "email", "verification", "isv", "deliverability", "api"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "version": "3"
  },
  "createdAt": "2025-07-01T00:00:00.000Z",
  "updatedAt": "2025-07-01T00:00:00.000Z",
  "versionId": "1"
}