N8N Flows/gohighlevel-opportunity-tools-n8n.json
{
  "name": "GoHighLevel - Opportunity Tools API Endpoints",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [20, 600],
      "parameters": {},
      "typeVersion": 1,
      "notes": "Start workflow to test Opportunity Tools API endpoints"
    },
    {
      "id": "config",
      "name": "GoHighLevel Config",
      "type": "n8n-nodes-base.set",
      "position": [300, 600],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "baseUrl",
              "name": "baseUrl",
              "type": "string",
              "value": "https://services.leadconnectorhq.com"
            },
            {
              "id": "authToken",
              "name": "authToken",
              "type": "string",
              "value": "{{$vars.GHL_ACCESS_TOKEN}}"
            },
            {
              "id": "locationId",
              "name": "locationId",
              "type": "string",
              "value": "{{$vars.GHL_LOCATION_ID}}"
            }
          ]
        }
      },
      "typeVersion": 3.4,
      "notes": "Configure your GoHighLevel API settings"
    },
    {
      "id": "search-opportunities",
      "name": "Search Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/search",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location_id",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "status",
              "value": "open"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Search opportunities with filters"
    },
    {
      "id": "get-pipelines",
      "name": "Get Pipelines",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/pipelines",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get all sales pipelines"
    },
    {
      "id": "get-opportunity",
      "name": "Get Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/OPPORTUNITY_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get specific opportunity by ID"
    },
    {
      "id": "create-opportunity",
      "name": "Create Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "name": "New Sales Opportunity",
          "pipelineId": "PIPELINE_ID_HERE",
          "contactId": "CONTACT_ID_HERE",
          "status": "open",
          "monetaryValue": 5000,
          "assignedTo": "USER_ID_HERE"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create new opportunity"
    },
    {
      "id": "update-opportunity-status",
      "name": "Update Opportunity Status",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/OPPORTUNITY_ID_HERE/status",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "status": "won"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update opportunity status (won/lost/abandoned)"
    },
    {
      "id": "delete-opportunity",
      "name": "Delete Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/OPPORTUNITY_ID_HERE",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Delete opportunity from CRM"
    },
    {
      "id": "update-opportunity",
      "name": "Update Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/OPPORTUNITY_ID_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "name": "Updated Opportunity Name",
          "monetaryValue": 7500,
          "status": "won",
          "assignedTo": "NEW_USER_ID_HERE"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update opportunity details (full update)"
    },
    {
      "id": "upsert-opportunity",
      "name": "Upsert Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/upsert",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "pipelineId": "PIPELINE_ID_HERE",
          "contactId": "CONTACT_ID_HERE",
          "name": "Smart Merge Opportunity",
          "status": "open",
          "monetaryValue": 3000
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create or update opportunity (smart merge)"
    },
    {
      "id": "add-opportunity-followers",
      "name": "Add Opportunity Followers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 400],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/OPPORTUNITY_ID_HERE/followers",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "followers": [
            "USER_ID_1_HERE",
            "USER_ID_2_HERE"
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Add followers to opportunity for notifications"
    },
    {
      "id": "remove-opportunity-followers",
      "name": "Remove Opportunity Followers",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 400],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/OPPORTUNITY_ID_HERE/followers",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "followers": [
            "USER_ID_1_HERE"
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Remove followers from opportunity"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GoHighLevel Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoHighLevel Config": {
      "main": [
        [
          {
            "node": "Search Opportunities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pipelines",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Opportunity Status",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Opportunity Followers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Opportunity Followers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {},
  "tags": ["gohighlevel", "opportunities", "crm", "sales", "pipeline", "api"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "version": "3"
  },
  "createdAt": "2025-07-01T00:00:00.000Z",
  "updatedAt": "2025-07-01T00:00:00.000Z",
  "versionId": "1"
}