N8N Flows/gohighlevel-objects-n8n.json
{
  "name": "GoHighLevel - Custom Objects API Endpoints",
  "nodes": [
    {
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [20, 300],
      "parameters": {},
      "typeVersion": 1,
      "notes": "Start workflow to test Custom Objects API endpoints"
    },
    {
      "id": "config",
      "name": "GoHighLevel Config",
      "type": "n8n-nodes-base.set",
      "position": [300, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "baseUrl",
              "name": "baseUrl",
              "type": "string",
              "value": "https://services.leadconnectorhq.com"
            },
            {
              "id": "authToken",
              "name": "authToken",
              "type": "string",
              "value": "{{$vars.GHL_ACCESS_TOKEN}}"
            },
            {
              "id": "locationId",
              "name": "locationId",
              "type": "string",
              "value": "{{$vars.GHL_LOCATION_ID}}"
            }
          ]
        }
      },
      "typeVersion": 3.4,
      "notes": "Configure your GoHighLevel API settings"
    },
    {
      "id": "schemas-get-all",
      "name": "Get All Object Schemas",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/objects/schemas",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get all object schemas (custom and standard)"
    },
    {
      "id": "schemas-create",
      "name": "Create Object Schema",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/objects/schemas",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "labels": {
            "singular": "Pet",
            "plural": "Pets"
          },
          "key": "custom_objects.pet",
          "description": "Custom object for tracking pets",
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "primaryDisplayPropertyDetails": {
            "key": "custom_objects.pet.name",
            "name": "Pet Name",
            "dataType": "TEXT"
          }
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create new custom object schema"
    },
    {
      "id": "schemas-get",
      "name": "Get Object Schema",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/objects/schemas/OBJECT_KEY_HERE",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get specific object schema by key"
    },
    {
      "id": "schemas-update",
      "name": "Update Object Schema",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 100],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/objects/schemas/OBJECT_KEY_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "labels": {
            "singular": "Updated Pet",
            "plural": "Updated Pets"
          },
          "description": "Updated description for pet object",
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update existing object schema"
    },
    {
      "id": "records-create",
      "name": "Create Object Record",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/objects/OBJECT_TYPE_HERE/records",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "data": {
            "custom_objects.pet.name": "Fluffy",
            "custom_objects.pet.breed": "Golden Retriever",
            "custom_objects.pet.age": "3"
          }
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create new object record"
    },
    {
      "id": "records-get",
      "name": "Get Object Record",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/objects/OBJECT_TYPE_HERE/records/RECORD_ID_HERE",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get specific object record by ID"
    },
    {
      "id": "records-update",
      "name": "Update Object Record",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/objects/OBJECT_TYPE_HERE/records/RECORD_ID_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "data": {
            "custom_objects.pet.name": "Updated Pet Name",
            "custom_objects.pet.age": "4"
          }
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update existing object record"
    },
    {
      "id": "records-delete",
      "name": "Delete Object Record",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 200],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/objects/OBJECT_TYPE_HERE/records/RECORD_ID_HERE",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Delete object record by ID"
    },
    {
      "id": "records-search",
      "name": "Search Object Records",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 300],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/objects/OBJECT_TYPE_HERE/records/search",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "query",
              "value": ""
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Search object records with filters"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "GoHighLevel Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoHighLevel Config": {
      "main": [
        [
          {
            "node": "Get All Object Schemas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Object Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Object Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Object Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Object Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Object Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Object Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Object Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Object Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {},
  "tags": ["gohighlevel", "custom-objects", "api", "schema"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "version": "3"
  },
  "createdAt": "2025-07-01T00:00:00.000Z",
  "updatedAt": "2025-07-01T00:00:00.000Z",
  "versionId": "1"
}