completes/gohighlevel-individual-endpoints-n8n.json
{
  "name": "GoHighLevel - All Individual API Endpoints",
  "nodes": [
    {
      "id": "trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [20, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "value": "0 0 * * *"
            }
          ]
        }
      },
      "typeVersion": 1.2,
      "notes": "Triggers the workflow daily at midnight"
    },
    {
      "id": "config",
      "name": "GoHighLevel Config",
      "type": "n8n-nodes-base.set",
      "position": [300, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "baseUrl",
              "name": "baseUrl",
              "type": "string",
              "value": "https://services.leadconnectorhq.com"
            },
            {
              "id": "authToken",
              "name": "authToken",
              "type": "string",
              "value": "{{$vars.GHL_ACCESS_TOKEN}}"
            },
            {
              "id": "locationId",
              "name": "locationId",
              "type": "string",
              "value": "{{$vars.GHL_LOCATION_ID}}"
            }
          ]
        }
      },
      "typeVersion": 3.4,
      "notes": "Configure your GoHighLevel API settings here"
    },
    {
      "id": "contacts-create",
      "name": "Create Contact",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 50],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/contacts/",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "firstName": "John",
          "lastName": "Doe",
          "email": "john.doe@example.com",
          "phone": "+1234567890",
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "tags": ["lead", "new-customer"],
          "customFields": {}
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create a new contact"
    },
    {
      "id": "contacts-get",
      "name": "Get Contact",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 50],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/contacts/CONTACT_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get contact by ID"
    },
    {
      "id": "contacts-update",
      "name": "Update Contact",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 50],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/contacts/CONTACT_ID_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "firstName": "Jane",
          "lastName": "Smith",
          "email": "jane.smith@example.com",
          "phone": "+1987654321"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update existing contact"
    },
    {
      "id": "contacts-delete",
      "name": "Delete Contact",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 50],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/contacts/CONTACT_ID_HERE",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Delete contact"
    },
    {
      "id": "contacts-search",
      "name": "Search Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 150],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/contacts/search",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "query": "",
          "limit": 20,
          "skip": 0
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Search contacts with filters"
    },
    {
      "id": "contacts-get-all",
      "name": "Get All Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 150],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/contacts/",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "skip",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get all contacts"
    },
    {
      "id": "contacts-add-tags",
      "name": "Add Contact Tags",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 150],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/contacts/CONTACT_ID_HERE/tags",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "tags": ["vip", "premium"]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Add tags to contact"
    },
    {
      "id": "contacts-remove-tags",
      "name": "Remove Contact Tags",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 150],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/contacts/CONTACT_ID_HERE/tags",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "tags": ["old-tag"]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Remove tags from contact"
    },
    {
      "id": "conversations-search",
      "name": "Search Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 250],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/search",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "contactId",
              "value": ""
            },
            {
              "name": "assigned",
              "value": ""
            },
            {
              "name": "status",
              "value": ""
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Search conversations"
    },
    {
      "id": "conversations-get",
      "name": "Get Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 250],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/CONVERSATION_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get conversation by ID"
    },
    {
      "id": "conversations-send-message",
      "name": "Send Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 250],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/messages",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "type": "SMS",
          "contactId": "CONTACT_ID_HERE",
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "message": "Hello from n8n automation!"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Send message (SMS/Email)"
    },
    {
      "id": "conversations-get-messages",
      "name": "Get Messages",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 250],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/conversations/CONVERSATION_ID_HERE/messages",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "skip",
              "value": "0"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-04-15"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get conversation messages"
    },
    {
      "id": "calendar-get-calendars",
      "name": "Get Calendars",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 350],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/calendars/",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "groupId",
              "value": ""
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get calendars"
    },
    {
      "id": "calendar-create",
      "name": "Create Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 350],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/calendars/",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "name": "New Calendar",
          "description": "Created via n8n",
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create calendar"
    },
    {
      "id": "calendar-create-appointment",
      "name": "Create Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 350],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/calendars/events/appointments",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "calendarId": "CALENDAR_ID_HERE",
          "contactId": "CONTACT_ID_HERE",
          "startTime": "2025-07-02T10:00:00Z",
          "endTime": "2025-07-02T11:00:00Z",
          "title": "New Appointment"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create appointment"
    },
    {
      "id": "calendar-get-appointment",
      "name": "Get Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 350],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/calendars/events/appointments/APPOINTMENT_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get appointment by ID"
    },
    {
      "id": "calendar-update-appointment",
      "name": "Update Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 450],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/calendars/events/appointments/APPOINTMENT_ID_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "startTime": "2025-07-02T14:00:00Z",
          "endTime": "2025-07-02T15:00:00Z",
          "title": "Updated Appointment"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update appointment"
    },
    {
      "id": "calendar-delete-appointment",
      "name": "Delete Appointment",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 450],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/calendars/events/appointments/APPOINTMENT_ID_HERE",
        "httpMethod": "DELETE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Delete appointment"
    },
    {
      "id": "opportunities-search",
      "name": "Search Opportunities",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 450],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/search",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "locationId",
              "value": "={{$node['GoHighLevel Config'].json.locationId}}"
            },
            {
              "name": "pipelineId",
              "value": ""
            },
            {
              "name": "status",
              "value": ""
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Search opportunities"
    },
    {
      "id": "opportunities-create",
      "name": "Create Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 450],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "title": "New Deal",
          "contactId": "CONTACT_ID_HERE",
          "locationId": "={{$node['GoHighLevel Config'].json.locationId}}",
          "pipelineId": "PIPELINE_ID_HERE",
          "stageId": "STAGE_ID_HERE",
          "monetaryValue": 1000
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create new opportunity"
    },
    {
      "id": "opportunities-get",
      "name": "Get Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 550],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/OPPORTUNITY_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get opportunity by ID"
    },
    {
      "id": "opportunities-update",
      "name": "Update Opportunity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [800, 550],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/opportunities/OPPORTUNITY_ID_HERE",
        "httpMethod": "PUT",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "title": "Updated Deal",
          "stageId": "NEW_STAGE_ID",
          "monetaryValue": 1500
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Update opportunity"
    },
    {
      "id": "locations-search",
      "name": "Search Locations",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 550],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/locations/search",
        "httpMethod": "GET",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "companyId",
              "value": ""
            },
            {
              "name": "skip",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Search locations"
    },
    {
      "id": "locations-get",
      "name": "Get Location",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1200, 550],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/locations/LOCATION_ID_HERE",
        "httpMethod": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Get location details"
    },
    {
      "id": "locations-create",
      "name": "Create Location",
      "type": "n8n-nodes-base.httpRequest",
      "position": [600, 650],
      "parameters": {
        "url": "={{$node['GoHighLevel Config'].json.baseUrl}}/locations/",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{$node['GoHighLevel Config'].json.authToken}}"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "name": "New Location",
          "address": "123 Main St",
          "city": "Anytown",
          "state": "CA",
          "postalCode": "12345",
          "country": "US"
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "typeVersion": 4.2,
      "notes": "Create new location"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GoHighLevel Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GoHighLevel Config": {
      "main": [
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get All Contacts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Contact Tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remove Contact Tags",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Conversations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Conversation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Calendars",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Appointment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Appointment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Appointment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Appointment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Opportunities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Opportunity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Locations",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Location",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {},
  "tags": ["gohighlevel", "api", "crm", "individual-endpoints"],
  "meta": {
    "templateCredsSetupCompleted": false,
    "version": "3"
  },
  "createdAt": "2025-07-01T00:00:00.000Z",
  "updatedAt": "2025-07-01T00:00:00.000Z",
  "versionId": "1"
}